.branding {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

hr {
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-width: 1px;
    border-color: darkslategrey;
}

body {
    /* margin-top: 80px; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Barlow', sans-serif;
}

h1, h2 {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Barlow', sans-serif;
}

 .homePageTitle {
    margin-top: 40px;
    text-transform: uppercase;
}


/* p {
    font-size: 1.2em;
} */

nav {
    font-size: 1.2em;
}

.mainContent {
    margin-left: 25%;
    margin-right: 25%;
    font-size: large;
}

li {
    padding-left: 40px;
    text-indent: -40px;
}

a.inBodyLink:link {
    color: rgb(165, 165, 193);
}

a.inBodyLink:hover {
    color: blueviolet;
}

a.inBodyLink:visited {
    color: darkgreen;
}

@media only screen and (max-width: 600px) {
    /* .homePageTitle {
        margin-top: 240px;
    } */

    .mainContent {
        margin-left: 2%;
        margin-right: 2%;
    }

    li {
        padding-left: 5%;
        text-indent: -5%;
    }
}